<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title id="pageTitle">Метро 2033 Военный персонал</title>
</head>
<body>

<script type="application/javascript">
    $(document).ready(function() {
            $(function(){
                $("#create").click(function(){
                  if ($("#user")[0].selectedIndex <= 0) {
                      alert("Не все данные заполнены!");
                      return;
                  }

                  console.log($("#user").val());

                  var courier = {
                    "user_id":$("#user").val()
                  };

                  $.ajax({
                    type: "POST",
                    url: "/courier",
                    contentType: "application/json",
                    data: JSON.stringify(courier),
                    success: function (data) {
                      console.log("success");
                      console.log(data);
                      window.location.href = '/courier';
                    }
                  });
                });
            })
        });

</script>

<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Добавление нового курьера</h1>
            <form th:method="POST" th:action="@{/courier}" th:object="${courier}" id="ajax_create_courier">
                <div class="form-group">
                    <label for="user">Пользователь</label>
                    <select id="user" class="custom-select" th:field="*{user}">
                        <option value="">Выбрать пользователя...</option>
                        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}">
                            Пользователь
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="button" id="create" class="btn-primary btn" value="Создать"/>
                </div>

                <div class="form-group">
                    <a href="/courier" class="btn-primary btn">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>