<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/courier.js" type="application/javascript"></script>
    <title id="pageTitle">Метро 2033 Курьерская служба</title>
</head>
<body>

<div>
    <div th:replace="fragments/fragment :: nav-all"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
                <div th:replace="fragments/fragment :: menu"></div>
            </div>
            <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
                <h1>Курьеры станции</h1>
                <a href="/courier/create" class="btn btn-primary my-3"
                   sec:authorize="${hasAuthority('delivery:write')}">Добавить нового курьера</a>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Статус</th>
                        <th scope="col" sec:authorize="${hasAuthority('delivery:write')}">Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="courier : ${couriers}">
                        <th scope="row"></th>
                        <td scope="row" th:text="${courier.user.name}">name</td>
                        <td scope="row" th:text="${courier.user.surname}">surname</td>
                        <td scope="row" th:text="${courier.user.patronymic}">patronymic</td>

                        <div th:if="${courier.order ne null}">
                            <td>Выполняет заказ</td>
                        </div>
                        <div th:unless="${courier.order ne null}">
                            <td>Свободен</td>
                        </div>

                        <td scope="row">

                            <div><a th:href="@{/courier/delete/{id}(id=${courier.id})}" class="btn-primary btn"
                                    id="delete"
                                    sec:authorize="${hasAuthority('delivery:write')}">Удалить</a></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>