<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <title id="pageTitle">Looper Service Personal</title>
</head>
<body>
<div th:replace="fragments/fragment :: nav"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Engineering</h1>
            <a href="/personal/create" class="btn btn-primary my-3" sec:authorize="${hasAuthority('users:write')}">Create</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Created</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Enabled</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row" th:text="${user.id}">id</th>
                    <td th:text="${user.username}">username</td>
                    <td th:text="${#temporals.format(user.created,'dd.MM.yyyy')}">created</td>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.role}">role</td>
                    <td th:text="${user.enabled}">enabled</td>
                    <td>
                        <ul class="list-unstyled">
                            <li th:if="${user.enabled == false}"><a th:href="@{/personal/enable/{id}(id=${user.id})}" class="text-success">set enabled</a></li>
                            <li th:if="${user.enabled == true}"><a th:href="@{/personal/disable/{id}(id=${user.id})}" class="text-danger">set disabled</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>