<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <title id="pageTitle">Персонал инженеров</title>
</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Инженеры</h1>
            <a href="/engineering/create" class="btn btn-primary my-3" sec:authorize="${hasAuthority('engineering:write')}">Добавить нового инженера</a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Квалификация</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="engineer : ${engineers}">
                    <th scope="row" id="engineer_id" th:text="${engineer.id}">id</th>
                    <td scope="row" th:text="${engineer.user.name}">name</td>
                    <td scope="row" th:text="${engineer.user.surname}">surname</td>
                    <td scope="row" th:text="${engineer.user.patronymic}">patronymic</td>
                    <td scope="row" th:text="${engineer.qualification}">qualification</td>
                    <td scope="row"><div><a th:href="@{/engineering/change/{id}(id=${soldier.id})}" class="btn-primary btn">Изменить</a></div></td>
                    <td scope="row"><div><a th:href="@{/engineering/delete/{id}(id=${soldier.id})}" class="btn-primary btn" id="delete">Удалить</a></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>