<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/delivery/create_order.js" type="application/javascript"></script>

    <title id="pageTitle">Метро 2033 Служба доставки</title>
</head>
<body>

<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Создание заказа на доставку ресурсов</h1>
            <label hidden="hidden" id="direction">false</label>
            <form th:method="POST" th:action="@{/delivery}" th:object="${order}" id="ajax_create_order">
                <div th:if="${!#strings.equals(couriers, 'NoData')}">
                    <div class="form-group">
                        <label for="station">Станция</label>
                        <select id="station" class="custom-select" th:field="*{station}">
                            <option value="">Выбрать станцию...</option>
                            <option th:each="station : ${stations}" th:value=${station} th:text="${station}">Станция
                            </option>
                        </select>
                        <div id="station_validation"></div>
                    </div>

                    <div class="form-group">
                        <label for="date_select">Дата доставки</label>
                        <input type="date" id="date_select" name="date_select"
                               min="2033-01-01" max="2100-12-31">
                        <div id="date_validation"></div>
                    </div>

                    <div class="form-group">
                        <label for="courier">Курьер</label>
                        <select id="courier" class="custom-select" th:field="*{courier}">
                            <option value="">Выбрать курьера...</option>
                            <option th:each="courier : ${couriers}" th:value=${courier.id}
                                    th:text="${courier.user.name}">Курьер
                            </option>
                        </select>
                        <div id="courier_validation"></div>
                    </div>

                    <div class="form-group">
                        <label>Список предметов для заказа</label>
                        <div id="item_validation"></div>
                        <table id="t_items" class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Предмет</th>
                                <th scope="col">Количество</th>
                            </tr>
                            <tbody>
                            <tr th:each="item : ${items}">
                                <td id="t_name" scope="row" th:utext="${item.name}"></td>
                                <td scope="row">
                                    <input type="number" id="t_quantity" class="form-control" value="0"
                                           placeholder="Количество" min="0">
                                </td>
                            </tr>
                            </tbody>
                            </thead>
                        </table>
                    </div>
                    <div class="form-group">
                        <input type="button" id="create" class="btn-primary btn" value="Создать"/>
                        <a href="/delivery" class="btn-primary btn">Назад</a>
                    </div>
                </div>
                <div th:if="${#strings.equals(couriers, 'NoData')}">
                    <h4>Нет свободных курьеров для создания заказа</h4>
                    <a href="/delivery" class="btn-primary btn">Вернуться</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>