<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title id="pageTitle">Метро 2033 Военный персонал</title>
</head>
<body>

<script type="application/javascript">
    function getTableData(id) {
        var t_rows = document.getElementById(id).querySelectorAll('tbody tr');
        var t_data = [];
        var ix = 0;

        for(var i=0; i<t_rows.length; i++) {
            var row_tds = t_rows[i].querySelectorAll('td');
            if(row_tds.length > 0) {
                t_data[ix] = [];
                for(var i2=0; i2<row_tds.length; i2++) t_data[ix].push((row_tds[i2].innerText || row_tds[i2].textContent));
                ix++;
            }
        }
        return t_data;
    }

    $(document).ready(function() {
        $(function() {
            $("#create").click(function() {
                var items = getTableData('t_items');

                var checked=$("#isPointOfDeparture").is(":checked");
                console.log("enter");
                var order = {
                    "station":$("#station").val(),
                    "direction":checked,
                    "date":$('#date_select').val(),
                    "items":items
                };

                $.ajax({
                    type: "POST",
                    url: "/delivery",
                    contentType: "application/json",
                    data: JSON.stringify(order),
                    // dataType: "dataType",
                    success: function (data) {
                      console.log("success");
                      console.log(data);
                      window.location.href = '/delivery';
                    }
                });
            });
        })
    });
</script>

<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Создание заказа на доставку</h1>
            <form th:method="POST" th:action="@{/delivery}" th:object="${order}">
                <div class="form-group">
                    <label for="station">Станция</label>
                    <select id="station" class="custom-select" th:field="*{station}">
                        <option value="">Выбрать станцию...</option>
                        <option th:each="station : ${stations}" th:value=${station} th:text="${station}">Станция</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="checkbox" id="isPointOfDeparture" name="isPointOfDeparture">
                    <label for="isPointOfDeparture">Доставка с текущей станции</label>
                </div>

                <div class="form-group">
                    <label for="date_select">Дата доставки</label>
                    <input type="date" id="date_select" name="date_select"
                           value="2033-01-01"
                           min="2033-01-01" max="2100-12-31">
                </div>

                <div class="form-group">
                    <label for="courier">Курьер</label>
                    <select id="courier" class="custom-select" th:field="*{courier}">
                        <option value="">Выбрать курьера...</option>
                        <option th:each="courier : ${couriers}" th:value=${courier.id} th:text="${courier.user.name}">Курьер</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Список предметов для заказа</label>
                    <table id="t_items" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Предмет</th>
                                <th scope="col">Количество</th>
                            </tr>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td scope="row" th:utext="${item.name}"></td>
                            <td scope="row">
                                <input type="number" id="quantity" class="form-control"
                                       placeholder="Количество" min="0" max="${item.quantity_in_storage}">
                            </td>
                        </tr>
                        </tbody>
                        </thead>
                    </table>
                </div>

                <div class="form-group">
                    <input type="button" id="create" class="btn-primary btn" value="Создать"/>
                    <a href="/delivery" class="btn-primary btn">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>