<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title id="pageTitle">Метро 2033 Список полученных заказов</title>
</head>
<body>
<script type="application/javascript">
    $(document).ready(function() {
        $(function() {
            $("#change").click(function() {
                var send_state = {
                    "id":$("#order_id").val(),
                    "state":$("#state").val()
                };
                console.log($("#state").html());
                $.ajax({
                    type: "POST",
                    url: "/delivery/changeState",
                    contentType: "application/json",
                    data: JSON.stringify(send_state),
                    // dataType: "dataType",
                    success: function (data) {
                      console.log("success");
                      window.location.href = '/delivery';
                    }
                });
            });
        })
    });

</script>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Информация о заказе</h1>
            <form th:method="POST" th:action="@{changeState}" th:object="${order}">
                <div class="form-group">
                    <label>Номер заказа:</label><label id="text_id" th:text="*{id}"></label>
                    <input type="hidden" id="order_id" th:field="*{id}">

                    <div class="form-group">
                        <h4>Тип заказа:</h4>
                        <div th:switch="*{isPointOfDeparture}">
                            <label th:case="true">Отправка реурсов</label>
                            <label th:case="false">Поставка ресурсов</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <h4>Курьер, назначенный на заказ:</h4>
                        <label th:utext="'Логин: ' + ${courier.user.login + '<br></br>' + 'ФИО: ' +
                                            courier.user.name + ' ' + courier.user.surname + '<br></br>'}">
                        </label>
                    </div>

                    <div class="form-group">
                        <h4>Срок доставки:</h4><label th:text=="*{date}"></label>
                    </div>

                    <div class="form-group">
                        <h4>Текущий статус заказа: </h4>
                        <select id="state" class="custom-select" th:field="*{state}">
                            <option th:each="state : ${states}" th:value="${state.name}" th:text="${state.name}">State
                            </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <h4>Предметы для доставки</h4>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Предмет</th>
                                <th scope="col">Количество</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${items}">
                                <th scope="row" th:text="${item.id.item.name}">id</th>
                                <th scope="row" th:text="${item.quantity}">quantity</th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <input type="button" id="save" class="btn-primary btn" value="Сохранить"/>
                        <!--<a th:href="@{/delivery/change/{id}(id=${order.id})}" sec:authorize="${hasAuthority('delivery:write')}" id="change" class="btn-primary btn">Изменить заказ</a>-->
                        <a th:href="@{/delivery/delete/{id}(id=${order.id})}" sec:authorize="${hasAuthority('delivery:write')}" id="delete" class="btn-primary btn">Удалить</a>
                    </div>
                    <a href="/delivery" class="btn-primary btn">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>