<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/army/change.js"></script>
    <title id="pageTitle">Метро 2033 Военный персонал</title>
</head>
<body>

<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Изменение военного</h1>
            <form th:method="POST" th:action="@{/army/change}" th:object="${soldier}" id="ajax_create_soldier">
                <div class="form-group">
                    <label for="user">Пользователь</label>
                    <select id="user" class="custom-select" th:field="*{user}">
                        <option th:value="${user.id}" th:text="${user.name}">User</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="post">Пост</label>
                    <select id="post" class="custom-select" th:field="*{post}">
                        <option value="">Выбрать пост...</option>
                        <option th:each="post : ${posts}" th:value="${post.id}"
                                th:text="${post.name}">Post</option>
                    </select>
                    <div id="post_validation"></div>
                </div>

                <div class="form-group">
                    <label for="rank">Звание</label>
                    <select id="rank" class="custom-select" th:field="*{rank}">
                        <option value="">Выбрать звание...</option>
                        <option th:each="rank : ${ranks}" th:value="${rank}" th:text="${rank}">Звание</option>
                    </select>
                    <div id="rank_validation"></div>
                </div>

                <div class="form-group">
                    <label for="health_state">Здоровье</label>
                    <select id="health_state" class="custom-select" th:field="*{health_state}">
                        <option value="">Состояние здоровья солдата...</option>
                        <option th:each="state : ${health}" th:value="${state}" th:text="${state}">Здоровье</option>
                    </select>
                    <div id="health_validation"></div>
                </div>

                <div class="form-group">
                    <label for="agility">Ловкость</label>
                    <input type="number" id="agility"  th:field="${soldier.agility}" class="form-control" placeholder="Agility" min="0" step="1" max="100">
                    <div id="agility_validation"></div>
                </div>

                <div class="form-group">
                    <label for="strength">Сила</label>
                    <input type="number" id="strength" th:field="${soldier.strength}" class="form-control" placeholder="Strength" min="0" step="1" max="100">
                    <div id="strength_validation"></div>
                </div>

                <div class="form-group">
                    <label for="stamina">Выносливость</label>
                    <input type="number" id="stamina" th:field="${soldier.stamina}" class="form-control" placeholder="Stamina" min="0" step="1" max="100">
                    <div id="stamina_validation"></div>
                </div>

                <div class="form-group">
                    <input type="hidden" id="soldier_id" th:field="${soldier.id}" class="form-control" placeholder="Soldier id">
                </div>

                <div class="form-group">
                    <input type="button" id="change"  class="btn-primary btn" value="Сохранить"/>
                    <a href="/army" class="btn-primary btn">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>