<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title id="pageTitle">Метро 2033 датчики</title>
</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <a th:href="@{/posts/show_sensors/{id}(id=${post.id})}" class="btn btn-primary my-3">Назад</a>
            <h3>Информация о датчике</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Местоположение</th>
                    <th scope="col">Пост</th>
                    <th scope="col">Состояние</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <div th:if="${#strings.equals(sensor.sensorStatus, 'ERROR')}">
                        <th id="table_sensor_id" scope="row" bgcolor="#FF0000"></th>
<!--                        <th scope="row" th:text="${sensor.id}" bgcolor="#FF0000">id</th>-->
                        <td id="table_name" th:text="${sensor.name}" bgcolor="#FF0000">name</td>
                        <td id="table_location" th:text="${sensor.location}" bgcolor="#FF0000">location</td>
                        <td id="table_post" scope="row" bgcolor="#FF0000" th:utext="'Название: ' + ${sensor.post.name + '<br>' +
                                               'Расположение: ' + sensor.post.location + '<br>'}">post</td>
                        <td id="table_status" bgcolor="#FF0000" th:text="${sensor.sensorStatus}">status</td>
                    </div>

                    <div th:if="${!#strings.equals(sensor.sensorStatus, 'ERROR')}">
                        <th scope="row"></th>
<!--                        <th scope="row" th:text="${sensor.id}">id</th>-->
                        <td th:text="${sensor.name}">name</td>
                        <td th:text="${sensor.location}">location</td>
                        <td scope="row" th:utext="'Название: ' + ${sensor.post.name + '<br>' +
                                                 'Расположение: ' + sensor.post.location + '<br>'}">post</td>
                        <td th:text="${sensor.sensorStatus}">location</td>
                    </div>

                </tr>
                </tbody>
            </table>

            <div id="sensor_id" hidden th:value="${sensor.id}"></div>
            <a id="problem_button" class="btn btn-primary my-3" th:if="${#strings.equals(sensor.sensorStatus, 'ERROR')}" sec:authorize="${hasAuthority('army:write')}">Проблема решена</a>
            <h3>Сообщения</h3>

            <div>
                <span>
                    <a class="page-link svg-icon"  th:if="${messagesPage.totalPages > 0 and start_page - number_of_pages > 0}"
                       th:href="@{/posts/show_sensor_messages/{id}(id=${sensor.id}, size=${messagesPage.size}, page=${start_page - number_of_pages}, start_page=${start_page - number_of_pages})}"
                       th:class="${start_page} ? active">[<<]
                    </a>
                </span>

                <span class="page-item" th:if="${messagesPage.totalPages > 0}"
                      th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link svg-icon" th:href="@{/posts/show_sensor_messages/{id}(id=${sensor.id}, size=${messagesPage.size}, page=${pageNumber}, start_page=${start_page})}"
                       th:text=${pageNumber}
                       th:class="${pageNumber==messagesPage.number + 1} ? active">
                    </a>
                </span>

                <div id="page_size" hidden>[[${messagesPage.size}]]</div>
                <div id="start_page" hidden>[[${current_page}]]</div>

                <span>
                    <a class="page-link svg-icon" th:if="${messagesPage.totalPages > 0 and start_page + number_of_pages <= messagesPage.totalPages}"
                       th:href="@{/posts/show_sensor_messages/{id}(id=${sensor.id}, size=${messagesPage.size}, page=${start_page + number_of_pages}, start_page=${start_page + number_of_pages})}"
                       th:class="${start_page + number_of_pages} ? active">[>>]
                    </a>
                </span>
            </div>

            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Время</th>
                        <th scope="col">Текст сообщения</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sensorMessage : ${messagesPage}">
                        <div th:if="${sensorMessage.error}">
                            <th scope="row" bgcolor="#FF0000"></th>
<!--                            <th scope="row" th:text="${sensorMessage.id}" bgcolor="#FF0000">id</th>-->
                            <td class="message_date_table" th:text="${sensorMessage.messages_date}" bgcolor="#FF0000">date</td>
                            <td th:text="${sensorMessage.messages}" bgcolor="#FF0000">messages</td>
                        </div>

                        <div th:if="${!sensorMessage.error}">
                            <th scope="row"></th>
<!--                            <th scope="row" th:text="${sensorMessage.id}">id</th>-->
                            <td  class="message_date_table" th:text="${sensorMessage.messages_date}">date</td>
                            <td th:text="${sensorMessage.messages}">messages</td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<script src="/js/posts/show_sensor_messages.js"></script>

</body>
</html>