<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <title id="pageTitle">Система станции метро</title>

    <style>
      #inline{
        width:100%;
        height:auto;
        display:flex;
        }
      #user_alert_messages,#sensors_alert_messages{
      width:50%;
      height:100px;
      margin:10px;
      }

    </style>

</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Добро пожаловать в систему метро, [[${login}]]</h1>
            <h4>Вы зашли как: [[${role}]]</h4>
            <h6>Ваши возможности: [[${permissions}]]</h6>

            <div id="inline">
                <div class="container mt-3" id="user_alert_messages">
                    <h2>Уведомления:</h2>
                    <div th:each="alert : ${alerts}">
                        <!--<p>Add the alert-link class to any links inside the alert box to create "matching colored links".</p>!-->
                        <div th:if="${#strings.equals(alert.type_of_message, 'ERROR')}">
                            <div class="alert alert-danger">
                                <strong>Danger!</strong> [[${alert.alert_message}]] : [[${alert.alert_message_date}]].
                            </div>
                        </div>

                        <div th:if="${#strings.equals(alert.type_of_message, 'NOTIFICATION')}">
                            <div class="alert alert-info">
                                <strong>Info!</strong> [[${alert.alert_message}]] : [[${alert.alert_message_date}]].
                            </div>
                        </div>

                        <div th:if="${#strings.equals(alert.type_of_message, 'ALARM')}">
                            <div class="alert alert-warning">
                                <strong>Warning!</strong> [[${alert.alert_message}]] : [[${alert.alert_message_date}]].
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-3" id="sensors_alert_messages">
                    <h2>Датчики:</h2>
                    <div th:each="sensor : ${sensors_error}">
                        <div class="alert alert-danger">
                            <strong>Danger!</strong> Замечено движение у датчика: [[${sensor.name}]] : [[${sensor.location}]] : [[${sensor.location}]] .
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
</body>
</html>