<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragment :: head"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/storage/change.js" type="application/javascript"></script>

    <title id="pageTitle">Метро 2033 Склад</title>
</head>
<body>

<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Изменение предмета на складе</h1>
            <div id="notification" style="background-color:#8ebf42"></div>
            <form th:method="POST" th:action="@{/storage/change}" th:object="${item}" id="ajax_change_item">

                <div class="form-group">
                    <label for="name">Наименование</label>
                    <input type="text" id="name"  th:field="${item.name}" class="form-control" placeholder="Name">
                    <div id="name_validation"></div>
                </div>

                <div class="form-group">
                    <label for="quantity">Количество на складе</label>
                    <input type="number" id="quantity"  th:field="${item.quantity}" value="0" min="0"
                           class="form-control" placeholder="Quantity">
                    <div id="quantity_validation"></div>
                </div>

                <!--Пока спрятал чтоб не ломалось-->
                <div class="form-group" hidden="hidden">
                    <label for="weight">Вес за единицу</label>
                    <input type="number" id="weight"  th:field="${item.weight}" value="0" min="0"
                           class="form-control" placeholder="Weight">
                    <div id="weight_validation"></div>
                </div>

                <div class="form-group">
                    <input type="hidden" id="item_id" th:field="${item.id}" th:value="${item.id}"
                           class="form-control" placeholder="Item id">
                </div>

                <div class="form-group">
                    <a type="button" id="change"  class="btn-primary btn" value="Сохранить">Сохранить</a>
                    <a href="/storage" class="btn-primary btn">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>