<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/storage/delete.js" type="application/javascript"></script>
    <title id="pageTitle">Метро 2033 Склад</title>
</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Количество предметов на складе</h1>
            <div id="notification" style="background-color:#8ebf42"></div>
            <a href="/storage/create" class="btn btn-primary my-3" sec:authorize="${hasAuthority('delivery:write')}">Добавить предмет</a>

            <div>
                <span>
                    <a class="page-link svg-icon"  th:if="${itemsPage.totalPages > 0 and start_page - number_of_pages > 0}"
                       th:href="@{storage(size=${itemsPage.size}, page=${start_page - number_of_pages}, start_page=${start_page - number_of_pages})}"
                       th:class="${start_page} ? active">[<<]
                    </a>
                </span>

                <span class="page-item" th:if="${itemsPage.totalPages > 0}"
                      th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link svg-icon" th:href="@{storage(size=${itemsPage.size}, page=${pageNumber}, start_page=${start_page})}"
                       th:text=${pageNumber}
                       th:class="${pageNumber==itemsPage.number + 1} ? active">
                    </a>
                </span>

                <div id="page_size" hidden>[[${itemsPage.size}]]</div>
                <div id="start_page" hidden>[[${current_page}]]</div>

                <span>
                    <a class="page-link svg-icon" th:if="${itemsPage.totalPages > 0 and start_page + number_of_pages <= itemsPage.totalPages}"
                       th:href="@{storage(size=${itemsPage.size}, page=${start_page + number_of_pages}, start_page=${start_page + number_of_pages})}"
                       th:class="${start_page + number_of_pages} ? active">[>>]
                    </a>
                </span>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Предмет</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Вес за единицу</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${itemsPage}">
                    <th scope="row"></th>
<!--                    <td scope="row" hidden="hidden" th:text="${item.id}">id</td>-->
<!--                    <th scope="row" id="item_id" th:text="${item.id}">id</th>-->
                    <td scope="row" th:text="${item.name}">name</td>
                    <td scope="row" th:text="${item.quantity_in_storage}">quantity_in_storage</td>
                    <td scope="row" th:text="${item.weight}">weight</td>
                    <td scope="row"><div><a th:href="@{/storage/change/{id}(id=${item.id})}" class="btn-primary btn">Изменить</a></div></td>
                    <td scope="row"><a id="delete" th:value="${item.id}" class="btn-primary btn">Удалить</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>