<div th:fragment="head" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/metro.png">
  <link rel="manifest" href="/site.webmanifest">
  <link href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/webjars/font-awesome/5.15.2/css/all.min.css" rel="stylesheet">
  <script src="/webjars/jquery/3.6.0/jquery.min.js" type="application/javascript"></script>
  <script src="/webjars/momentjs/2.29.1/min/moment.min.js" type="application/javascript"></script>
</div>

<div th:fragment="nav-all" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand mr-auto" href="/">
      Система станции метро
    </a>
    <a class="btn btn-outline-light" href="/auth/logout">Выйти из системы</a>
  </nav>
</div>

<div th:fragment="nav-login" th:remove="tag" xmlns:th="http://www.thymeleaf.org">
  <nav class="navbar navbar-dark bg-dark navbar-expand-md">
    <a class="navbar-brand mr-auto" href="/">
      Система станции метро
    </a>
  </nav>
</div>

<div th:fragment="menu" th:remove="tag" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <ul class="list-unstyled">
    <li class="">
      <a href="/"><span class="fas fa-home fa-fw"></span> Главная</a>
    </li>
    <li class="" sec:authorize="${hasAuthority('users:read')}">
      <a href="/users"><span class="fas fa-user-friends fa-fw"></span> Пользователи</a>
    </li>
    <li class="" sec:authorize="${hasAuthority('delivery:read')}">
      <a href="/delivery"><span class="fas fa-truck fa-fw"></span> Доставка</a>
    </li>
    <li class="" sec:authorize="${hasAuthority('delivery:read')}">
      <a href="/storage"><span class="fas fa-cubes fa-fw"></span> Склад</a>
    </li>
    <li class=""  sec:authorize="${hasAuthority('army:read')}">
      <a href="/army"><span class="fas fa-flag fa-fw"></span> Армия</a>
    </li>
    <li class=""  sec:authorize="${hasAuthority('army:read')}">
      <a href="/posts"><span class="fas fa-flag fa-fw"></span> Посты охраны</a>
    </li>
    <li class=""  sec:authorize="${hasAuthority('army:read')}">
      <a href="/sensors"><span class="fas fa-wifi fa-fw"></span> Сенсоры</a>
    </li>
  </ul>
</div>

