<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/fragment :: head"></div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <title id="pageTitle">Метро 2033 Военный персонал</title>
</head>
<body>

<script type="application/javascript">
        $(document).ready(function() {
            $(function(){

                $("#change").click(function(){

                  check = false;
                  $('#ajax_create_soldier *').filter(':input').each(function(){
                      if($(this).val() == '' && $(this)[0].getAttribute('type') !== 'password' ){
                        check = true;
                      }
                  });

                  if (check == true){
                    alert("Не все данные заполнены!");
                    return;
                  }

                  console.log($("#name").val());
                  console.log($("#surname").val());
                  console.log($("#patronymic").val());
                  console.log($("#login").val());
                  console.log($("#password").val());
                  console.log($("#role").val());

                  var new_user = {
                    "user_id":$("#user_id").val(),
                    "role": $("#role").val(),
                    "name": $("#name").val(),
                    "surname": $("#surname").val(),
                    "patronymic": $("#patronymic").val(),
                    "login": $("#login").val(),
                    "password": $("#password").val()
                  };

                  $.ajax({
                    type: "POST",
                    url: "/users/change",
                    contentType: "application/json",
                    data: JSON.stringify(new_user),
                    // dataType: "dataType",
                    success: function (data) {
                      console.log("success");
                      console.log(data);
                      window.location.href = '/users';
                    }
                  });
                  console.log(new_soldier);
                });
            })
        });
</script>

<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
      <div th:replace="fragments/fragment :: menu"></div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
      <h1>Изменение пользователя</h1>
      <form th:method="POST" th:action="@{/users/change}" th:object="${user}" id="ajax_create_soldier">

        <div class="form-group">
          <label for="name">Имя</label>
          <input type="text" id="name"  th:field="${user.name}" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="surname">Фамилия</label>
          <input type="text" id="surname"  th:field="${user.surname}" class="form-control" placeholder="Surname">
        </div>

        <div class="form-group">
          <label for="patronymic">Отчество</label>
          <input type="text" id="patronymic"  th:field="${user.patronymic}" class="form-control" placeholder="Patronymic">
        </div>

        <div class="form-group">
          <label for="login">Логин</label>
          <input type="text" id="login"  th:field="${user.login}" class="form-control" placeholder="Login">
        </div>

        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" id="password" th:value="${user.password}" th:field="${user.password}" class="form-control" placeholder="Password">
        </div>

        <div class="form-group">
          <label for="role">Роль</label>
          <select id="role" class="custom-select" th:field="*{role}">
            <option value="">Выбрать роль...</option>
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role}">Роль</option>
          </select>
        </div>

        <div class="form-group">
          <input type="hidden" id="user_id" th:field="${user.id}" class="form-control" placeholder="User id">
        </div>

        <div class="form-group">
          <input type="button" id="change"  class="btn-primary btn" value="Сохранить"/>
          <a href="/users" class="btn-primary btn">Назад</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>