<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/fragment :: head"></div>

  <title id="pageTitle">Метро 2033 пользователи</title>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="/js/metro_users/validation.js"></script>
</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
      <div th:replace="fragments/fragment :: menu"></div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
      <h1>Создание пользователя станции</h1>
      <form id="register_form" th:method="POST" th:action="@{/users}" th:object="${user}">
        <div class="form-group">
          <label for="name">Имя</label>
          <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="Имя">
          <div id="name_validation"></div>
        </div>

        <div class="form-group">
          <label for="surname">Фамилия</label>
          <input type="text" id="surname" th:field="*{surname}" class="form-control" placeholder="Фамилия">
          <div id="surname_validation"></div>
        </div>

        <div class="form-group">
          <label for="patronymic">Отчество</label>
          <input type="text" id="patronymic" th:field="*{patronymic}"  class="form-control" placeholder="Отчество">
          <div id="patronymic_validation"></div>
        </div>

        <div class="form-group">
          <label for="login">Логин</label>
          <input type="text" id="login" th:field="*{login}"
                 title="Логин может содержать латинские прописные буквы"
                 class="form-control" placeholder="Логин">
          <div id="login_validation"></div>
        </div>

        <div class="form-group">
          <label for="password">Пароль</label>
          <input type="password" id="password" th:field="*{password}"
                 title="Пароль должен быть написан на английском языке, содержать минимум одну заглавную и прописную буквы, один спец символ, одну цифру и должен быть длинее 8 символов"
                 class="form-control" placeholder="Пароль">
          <div id="password_validation"></div>
        </div>

        <div class="form-group">
          <label for="role">Роль</label>
          <select id="role" class="custom-select" th:field="*{role}">
            <option value="">Выбрать...</option>
            <option th:each="role : ${roles}" th:value="${role}" th:text="${role.name()}">Роль</option>
          </select>
          <div id="role_validation"></div>
        </div>

        <div class="form-group">
          <input type="hidden" name="action" th:value="${action}">
          <button id="button" type="submit" class="btn-primary btn">Сохранить</button>
          <a href="/users" class="btn-primary btn">Назад</a>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>