<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title id="pageTitle">Метро 2033 пользователи</title>
</head>
<body>

<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <li class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Пользователи</h1>
            <a href="/users/create" class="btn btn-primary my-3" sec:authorize="${hasAuthority('users:write')}">Создать</a>
            <div id="notification" style="background-color:#8ebf42"></div>
            <div>

                <span>
                    <a class="page-link svg-icon"  th:if="${usersPage.totalPages > 0 and start_page - number_of_pages > 0}"
                       th:href="@{users(size=${usersPage.size}, page=${start_page - number_of_pages}, start_page=${start_page - number_of_pages})}"
                       th:class="${start_page} ? active">[<<]
                    </a>
                </span>

                <span class="page-item" th:if="${usersPage.totalPages > 0}"
                    th:each="pageNumber : ${pageNumbers}">
                    <a class="page-link svg-icon" th:href="@{users(size=${usersPage.size}, page=${pageNumber}, start_page=${start_page})}"
                       th:text=${pageNumber}
                       th:class="${pageNumber==usersPage.number + 1} ? active">
                    </a>
                </span>

                <div id="page_size" hidden>[[${usersPage.size}]]</div>
                <div id="start_page" hidden>[[${current_page}]]</div>

                <span>
                    <a class="page-link svg-icon" th:if="${usersPage.totalPages > 0 and start_page + number_of_pages <= usersPage.totalPages}"
                       th:href="@{users(size=${usersPage.size}, page=${start_page + number_of_pages}, start_page=${start_page + number_of_pages})}"
                       th:class="${start_page + number_of_pages} ? active">[>>]
                    </a>
                </span>

            </div>

            <table class="table table-striped" id="users_table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Login</th>
                    <th scope="col">Роль</th>
                    <th scope="col">Изменить</th>
                    <th scope="col">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${usersPage}">
                    <td scope="row"></td>
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.surname}">surname</td>
                    <td th:text="${user.patronymic}">patronymic</td>
                    <td th:text="${user.login}">login</td>
                    <td th:text="${user.role}">role</td>

                    <div th:if="${!#strings.equals(user.role, 'ADMIN')}">
                        <td scope="row"><div><a th:href="@{/users/change/{id}(id=${user.id})}" class="btn-primary btn" id="change" sec:authorize="${hasAuthority('users:write')}">Изменить</a></div></td>
                    </div>
                    <div th:unless="${!#strings.equals(user.role, 'ADMIN')}">
                        <td scope="row"></td>
                    </div>

                    <div th:if="${!#strings.equals(user.role, 'ADMIN')}">
                        <!--<div class="user_id">[[${user.id}]]</div>!-->
                        <td scope="row"><div><a class="btn-primary btn"
                                                id="delete" sec:authorize="${hasAuthority('users:write')}"
                                                th:value="${user.id}">Удалить</a></div></td>
                    </div>
                    <div th:unless="${!#strings.equals(user.role, 'ADMIN')}">
                        <td scope="row"></td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<script src="/js/metro_users/index.js"></script>

</body>
</html>