<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/fragment :: head"></div>

    <title id="pageTitle">Метро 2033 пользователи</title>
</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
            <div th:replace="fragments/fragment :: menu"></div>
        </div>
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>Personal</h1>
            <a href="/users/create" class="btn btn-primary my-3" sec:authorize="${hasAuthority('users:write')}">Create</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Login</th>
                    <th scope="col">Роль</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row" th:text="${user.id}">id</th>
                    <td th:text="${user.name}">name</td>
                    <td th:text="${user.surname}">surname</td>
                    <td th:text="${user.patronymic}">patronymic</td>
                    <td th:text="${user.login}">login</td>
                    <td th:text="${user.role}">role</td>
                    <td scope="row"><div><a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn-primary btn" id="delete">Удалить</a></div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>