<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="fragments/fragment :: head"></div>

  <title id="pageTitle">Метро 2033 датчики</title>
</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
      <div th:replace="fragments/fragment :: menu"></div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
      <h1>Датчики</h1>
      <a href="/sensors/create" class="btn btn-primary my-3" sec:authorize="${hasAuthority('army:write')}">Создать</a>
        <table th:fragment="sensors_table" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Местоположение</th>
            <th scope="col">Пост</th>
            <th scope="col">Сообщения</th>
            <th scope="col">Изменить</th>
            <th scope="col">Удалить</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="sensor : ${sensors}">
            <div th:if="${#strings.equals(sensor.sensorStatus, 'ERROR')}">
              <th bgcolor="#FF0000" scope="row" th:text="${sensor.id}">id</th>
              <td bgcolor="#FF0000" th:text="${sensor.name}">name</td>
              <td bgcolor="#FF0000" :text="${sensor.location}">location</td>
              <td bgcolor="#FF0000" scope="row" th:utext="'Название: ' + ${sensor.post.name + '<br />' +
                                               'Расположение: ' + sensor.post.location + '<br />'}">post</td>
            </div>

            <div th:if="${!#strings.equals(sensor.sensorStatus, 'ERROR')}">
              <th scope="row" th:text="${sensor.id}">id</th>
              <td th:text="${sensor.name}">name</td>
              <td :text="${sensor.location}">location</td>
              <td scope="row" th:utext="'Название: ' + ${sensor.post.name + '<br />' +
                                               'Расположение: ' + sensor.post.location + '<br />'}">post</td>
            </div>

            <td scope="row"><div><a th:href="@{/sensors/messages/{id}(id=${sensor.id})}" class="btn-primary btn" id="messages">Показать сообщения</a></div></td>
            <td scope="row"><div><a th:href="@{/sensors/change/{id}(id=${sensor.id})}" class="btn-primary btn" id="change">Изменить</a></div></td>
            <td scope="row"><div><a th:href="@{/sensors/delete/{id}(id=${sensor.id})}" class="btn-primary btn" id="delete">Удалить</a></div></td>

          </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>


<script type="application/javascript">
      /*$(document).ready(function() {

          var delay = 1000;

          function update_table() {

              $.ajax({
                  type: "GET",
                  url: "/sensors/sensors_table",
                  success: function(data) {
                      console.log("success");
                      console.log(data);
                      $('.sensors_table').html(data);
                      setTimeout(update_table, delay);
                  }
              });
          }

          update_table();
      });*/
</script>


</body>
</html>