<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <div th:replace="fragments/fragment :: head"></div>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <title id="pageTitle">Метро 2033 датчики</title>
</head>
<body>
<div th:replace="fragments/fragment :: nav-all"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-3 col-md-4 py-3 sidebar border-right">
      <div th:replace="fragments/fragment :: menu"></div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
      <h1>Датчики</h1>
      <a href="/sensors/create" class="btn btn-primary my-3" sec:authorize="${hasAuthority('army:write')}">Создать</a>
      <div id="notification" style="background-color:#8ebf42"></div>
      <div>
          <span>
              <a class="page-link svg-icon"  th:if="${sensorsPage.totalPages > 0 and start_page - number_of_pages > 0}"
                 th:href="@{sensors(size=${sensorsPage.size}, page=${start_page - number_of_pages}, start_page=${start_page - number_of_pages})}"
                 th:class="${start_page} ? active">[<<]
              </a>
          </span>

        <span class="page-item" th:if="${sensorsPage.totalPages > 0}"
              th:each="pageNumber : ${pageNumbers}">
              <a class="page-link svg-icon" th:href="@{sensors(size=${sensorsPage.size}, page=${pageNumber}, start_page=${start_page})}"
                 th:text=${pageNumber}
                 th:class="${pageNumber==sensorsPage.number + 1} ? active">
              </a>
          </span>

        <span>
              <a class="page-link svg-icon" th:if="${sensorsPage.totalPages > 0 and start_page + number_of_pages <= sensorsPage.totalPages}"
                 th:href="@{sensors(size=${sensorsPage.size}, page=${start_page + number_of_pages}, start_page=${start_page + number_of_pages})}"
                 th:class="${start_page + number_of_pages} ? active">[>>]
              </a>
          </span>
      </div>

      <div>
        <table th:fragment="sensors_table" class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Местоположение</th>
            <th scope="col">Пост</th>
            <th scope="col">Сообщения</th>
            <th scope="col" sec:authorize="${hasAuthority('army:write')}">Изменить</th>
            <th scope="col" sec:authorize="${hasAuthority('army:write')}">Удалить</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="sensor : ${sensorsPage}">
            <div th:if="${#strings.equals(sensor.sensorStatus, 'ERROR')}">
              <th scope="row" bgcolor="#FF0000" ></th>
<!--              <th bgcolor="#FF0000" scope="row" th:text="${sensor.id}">id</th>-->
              <td bgcolor="#FF0000" th:text="${sensor.name}">name</td>
              <td bgcolor="#FF0000" th:text="${sensor.location}">location</td>
              <div th:if="${sensor.post ne null}">
                <td bgcolor="#FF0000" scope="row" th:utext="'Название: ' + ${sensor.post.name + '<br>' +
                                               'Расположение: ' + sensor.post.location + '</br>'}">post</td>
              </div>
              <div th:unless="${sensor.post ne null}">
                <td bgcolor="#FF0000" scope="row" >Не находится на посту</td>
              </div>

            </div>

            <div th:if="${!#strings.equals(sensor.sensorStatus, 'ERROR')}">
              <th scope="row"></th>
<!--              <th scope="row" th:text="${sensor.id}">id</th>-->
              <td th:text="${sensor.name}">name</td>
              <td th:text="${sensor.location}">location</td>

              <div th:if="${sensor.post ne null}">
                <td scope="row" th:utext="'Название: ' + ${sensor.post.name + '<br>' +
                                               'Расположение: ' + sensor.post.location + '</br>'}">post</td>
              </div>
              <div th:unless="${sensor.post ne null}">
                <td scope="row" text="Не находится на посту">Не находится на посту</td>
              </div>
            </div>

            <td scope="row"><div><a th:href="@{/sensors/messages/{id}(id=${sensor.id})}" class="btn-primary btn" id="messages">Показать сообщения</a></div></td>
            <td scope="row"><div><a th:href="@{/sensors/change/{id}(id=${sensor.id})}" class="btn-primary btn" id="change" sec:authorize="${hasAuthority('army:write')}"> Изменить</a></div></td>
            <td scope="row"><div><a class="btn-primary btn"
                                    id="delete" sec:authorize="${hasAuthority('army:write')}"
                                    th:value="${sensor.id}">Удалить</a></div></td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<script type="application/javascript">

      /*$(document).ready(function() {

          var delay = 1000;

          function update_table() {

              $.ajax({
                  type: "GET",
                  url: "/sensors/sensors_table",
                  success: function(data) {
                      console.log("success");
                      console.log(data);
                      $('.sensors_table').html(data);
                      setTimeout(update_table, delay);
                  }
              });
          }

          update_table();
      });*/
</script>

<script src="/js/sensors/index.js"></script>

</body>
</html>