<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="pageTitle">Service</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-lg-9 col-md-8 py-3">
            <h1>test</h1>
        </div>
    </div>
    <form th:method="POST" th:action="@{/add}">
        <input type="text" id="text" name="text" class="form-control" placeholder="Email" required autofocus>
        <button name="send" type="submit">send</button>
    </form>
</div>
</body>
</html>